<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="thumbnail" style="background-color:transparent; border:0">
      <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
      <div class="caption">
        <p class="centro"><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>
        <p class="centro">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <%= link_to "Me Gusta", friends_like_path(id: @friend, liked: true), method: :post %>
          </button>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= link_to "No Me Gusta", friends_like_path(id: @friend, liked: false), method: :post %>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>


<!--div class="col-md-4 col-md-offset-4">
  <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
  <p class="centro"><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>

  <div class="row">
    <div class="container">
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <%= link_to "Me Gusta", friends_like_path(id: @friend, liked: true), method: :post %>
      </button>

      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <%= link_to "No Me Gusta", friends_like_path(id: @friend, liked: false), method: :post %>
      </button>
    </div>
  </div>

</div-->
