<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: {class: 'col-md-3', role: 'form'}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => 'form-control' %></div>

  <div><%= f.submit "Send me reset password instructions", :class => "btn btn-default top"  %></div>
  <%= render "devise/shared/links" %>
<% end %>

