<!DOCTYPE html>
<html>
<head>
  <title>Fzone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
    <% end %>
    <h1>TE GUSTA O NO</h1>
  </header>

  <p>Elige aquellos amig@s de facebook que te gustan en secreto, te avisaremos si ambos coinciden, el resto va por tu cuenta.</p>

  <div class="content">
    <% flash.each do |name, err|%>
      <%= content_tag :div, err, class: name %>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <p>Escribenos en twitter <a href="#">@tegustaono</a></p>
  </footer>

</body>
</html>
